html,
body {
    height: 100%;
    width: 100%;
    font-family: Montserrat;
}

.navbar {
    padding: 0.8rem;

}

.navbar-nav li {
    padding-right: 40px;
}

.nav-link {
    font-size: 18px;
}